/JavaLibrary/target
/BNCompiler/target/
/BNCompiler/testworkdir
/BinaryNotes.NET/*.suo
/BinaryNotes.NET/BinaryNotes/bin
/BinaryNotes.NET/BinaryNotes/obj
/BinaryNotes.NET/BinaryNotesTests/bin
/BinaryNotes.NET/BinaryNotesTests/obj
/BinaryNotes.NET/TestResults
/Dist/target/
nbactions.xml
nb-configuration.xml
